.login{
    margin: 0 20px;
    color: rgba(60,60,60,0.5);
    font-size: 14px;
}
.login .login_info .user{
    margin-top: 30px;
    margin-bottom: 20px;
}
.login .tip{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login .tip el-checkbox{
    color: rgba(60,60,60,0.5) !important;
}
.login .tip .forgot{
    float: right;
}
.login .tip .forgot a{
    color: rgba(60,60,60,0.5) !important;
}
.login .tip .forgot a:hover{
    color: #F56C6C !important;
}
.login .tip .submit .refer{
    opacity: 0.9;
}
.login .division{
    margin: 15px auto;
    border-bottom: 1px solid #dcdfe6;
}
.login .register{
    font-size: 14px;
}
.login .register a{
    color: #F56C6C;
}
.login .third dd{
    -webkit-margin-start: 0;
}