.recommend{
    margin: 40px 20px;
    font-size: 14px;
    /*background: #fff;*/
    /*border: 1px solid #dcdfe6;*/
    /*-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);*/
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);*/
    /*height: 1000px;*/
}

.item {
    margin-bottom: 18px;
}
.clearfix span{
    font-size: 18px;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both
}
.division{
    border-bottom: 1px solid #ebeef5;
    margin-bottom: 15px;
}
.more{
    text-align: center;
}
.more a{
    color: #ebeef5;
}
.more a:hover{
    color: #f56c6c;
}